# Node.js Modules
node_modules/

# Logs
*.log
logs/

# Environment Variables
.env

# Cache and System Files
.DS_Store
Thumbs.db

# IDE Configurations
.vscode/
.idea/
*.swp

# Build Output
dist/
build/

# Debug Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary Files
*.tmp
*.temp
